.App {
  font-family: sans-serif;
  text-align: center;
}

.search-container {
  /* border: 1px solid red; */
  margin: 50px;
}

.search-box {
  padding: 10px;
  width: 60%;
  font-weight: bold;
}

.list {
  list-style: none;
}
